APP_NAME="EIG Backend"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://excellis-invest-group.jofedigital.com/api

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=c1663907c_eig-database
DB_USERNAME=c1663907c_eig_database_user
DB_PASSWORD=VOTRE_MOT_DE_PASSE

JWT_SECRET=
JWT_TTL=10080

FRONTEND_URL=https://excellis-invest-group.jofedigital.com
ADMIN_URL=https://excellis-invest-group.jofedigital.com/admin

# Dossier uploads (dans public_html/excellis-invest-group/uploads)
UPLOAD_DIR=/home/c1663907c/public_html/excellis-invest-group/uploads

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=single
FILESYSTEM_DISK=local
